a{
    color: inherit;
}

a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/********************/
.Header {
    width: 100%;
    height: 80px;
    background-color:#e7211e;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.Header img{
    height: 30%;
}


.Header_Logo{
    width: 70%
}

.Header_Menu{
    width:5%;
}


/********************/
.Sidebar{
    height: 1500px;
    width: 200px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

/**Sidebar_Top
**/
.Sidebar_Top{
    border-bottom: 2px solid darkgray;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.Sidebar_Top_List{
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar_Top_List_Img>img{
    height: 60%;
}


/**Sidebar_Content
**/
.Sidebar_Content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Sidebar_Content_Bar_Img>img{
    height: 60%;
}

.Sidebar_Content_Bar_Img{
    width: 20%;
}

.Sidebar_Content_Bar{
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

/********************/
.Index{
    height: 1500px;
    position: relative;
    left: 210px;
    padding-left: 10px;
}

/**Index_Top
**/
.Index_Top{
    height: 200px;
    width: auto;
}

.Findbar{
    height: 100px;
    padding: 30 0 0 50;
}

/**Index_Content
**/
.Index_Content{
    height: 1300px;
    position: relative;
    right: 200px;
    overflow: scroll;
}

.Index_Content_Block{
    height: 300px;
    width: 330px;
    float: left;
    margin: 10 5 10 5px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    
}

.Index_Content_Block img{
    width: 330px;
}

.Block_P{
    width: 300px;
    display: inline;
    padding: 0 20 0 20;
    color: black;
    font-size: 14px;
}

.Block_Up{
    padding-left: 10px; 
    width: 290px;
    height: 20px;
}

.CarName{
    float: left;
}

.Price{
    padding-right: 10px;
    float: right;
    color: #e7211e;
}

.Block_Down{
    width: 290px;
    height: 20px;
    padding-top: 5px;
    padding-left: 10px; 
    color: #585858;
}

.Block_Down img{
    height: 16px;
    width: auto;
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
}

.Miles{
    float: left;
}

.hip{
    padding-right: 10px;
    float: right;
}




/**Footer
**/
.Footer{
    position: relative;
    left: 200px;
}

.Footer_Background img{
    width: 100%;
}

.Footer_Content{
    padding-top: 5%;
    position: absolute;
    color: white;
    text-align: center;
}

.Footer_Content img{
    height: 2%;
    
    width: auto;
}

.Footer_Content h2{
    
    font-size: 44px;
    padding-left: 20%;
    padding-right: 20%;
   
}

.Footer-_Bottom_Button{
    position: relative;
    top: -20px;
    height: 50px;
    width: auto;
    text-align: center;
}

.Footer_Bottom_Button img{
    height: 40px;
    width: auto;
    padding: 10 5 10 5;
}

.List{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

}

.List li{
    float: left;
    padding: 0 5 0 5;
    font-size: 12px;
    list-style-type: none;
}

.Address{
    padding-top: 10px;
    font-size: 10px;
}



**