h1{
    font-size: 56px;
}

body{
    background-color:black;
}

body img{
    width: 100%;
    
}

ul,li{
    list-style-type: none;
}

/******************************/



/**Header
**/

.Header{
    width: 100%;
    height: 700px;
    background-image: url(DCBP.com/1-assets/hero.jpg);
    background-size: 100% 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Header_Top {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.Header_Top_Logo>img{
    height: 55%;
    width: auto;
}

.Header_Top_SeeCar{
    width: 8%;
    padding: 10 20 10 20;
    text-align: center;
    background-color: #e7211e;
}


.Header_Top_Menu>img{
    height: 50%;
    width: auto;
}


.Header_Content{
    height: 50%;
}

.Header_Title{
    font-size: 60px;
    font-weight: bold;
}

.Header_Detail{
    height: 30%;
}


/******************************/


/**Carshop
**/

.CarShop{
    height: 1100px;
    width: 100%;
    background-image: url("DCBP.com/1-assets/bg%201.jpg");
    background-size: 100% 100%;
    color: white;
}

.CarShop_Header{
    height: 400px;
    width: 30%;
    float: left;
}

.Carshop_Header_Introduction{
    font-size: 22px;
}

.Carshop_Header_Title{
    font-size: 40px;
}

.CarShop_Block{
    height: 200px;
    width: 30%;
    float: left;

}

.CarShop_Block>img{
    height: 120px;
    width: auto;
    float: left;
    margin: 0 20 0 20px;
}

.CarShop_Block_Title{
    font-size: 26px;
    font-weight: bold;
}

.CarShop_Block_Detail{

}

/**second
**/
.Content_Second_Index {
    width:100%;
    color: black;
}

.Content_Second_Index>img{
    
}

.Second_Index_Second_Content{
    position: absolute;
}

.Second_Index_Second_Content>img{
    
    padding: 0 0% 0 23% ;
    width: 76%;
    height: auto;
}

.Second_Content_Word_Block{
    padding: 10% 0 0 10% ;
    position: absolute;
    height: 300px;
    width: 500px;
}

.Second_Content_Word_Block>img{
    padding-top: 10%;
    height: 110%;
    width: auto;
}




/**Third
**/
.Content_Third_Index {
    width:100%;
}

.Content_Third_Index>img{
    
}

.Third_Index_Third_Content {
    position: absolute;
    float: left;
}

.Third_Content_Img {
    padding-top: 5%;
    width: 40%;
    float: left;
}

.Third_Content_Img>img{
    width: 100%;
    height: auto;
    
}

.Third_Content_Word{
    padding-top: 10%;
    height: auto;
    width: 40%;
    float: left;
    color: white;
}

.Third_Content_Word h3{
    float: left;
}

.Third_Content_Word p{
    padding-right: 90px;
}

.Third_Content_Word img{
    height: 20px;
    padding: 20px;
    width: auto;
}



/**Fourth
**/
.Content_Fourth_Index{
    width: 100%;
    color: white;
}

.Fourth_Index_Fourth_Content{
    position: absolute;
    width: 400px;
    padding: 10% 0 0 20%;
}

.Fourth_Index_Fourth_Content p{
    padding-bottom: 40px;
}

.Fourth_Index_Fourth_Content img{
    height: 2px;
    width: 10px;
    float: left;
    padding: 5;
}




/******************************/
.Footer{
    
}

.Footer>img{
    position: absolute;
    padding-top: 38%;
    width: 106%;
}

/**Footer_Header
**/
.Footer_Header{
    
}

.Footer_Header_Word{
    position: absolute;
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.Footer_Header_Word p{
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;
}

.Findcar {
    padding: 40 35% 0 35%;
    color: white;
}

.Findcar h2{
    padding: 10;
    border-radius: 5%;
    background-color: #e7211e;
}


/**Footer_Bottom
**/
.Footer_Bottom_Content{
    position: absolute;
    color: white;
    padding: 13% 0% 0 0%;
    text-align: center;
    width: 
}

.Footer_Bottom_Content img{
    height: 2%;
    padding-bottom: 5%;
    width: auto;
}

.Footer_Bottom_Content h2{
    font-size: 44px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.Footer_Content_button{
    position: relative;
    top: -20px;
    height: 50px;
    width: auto;
    text-align: center;
}

.Footer_Content_button img{
    height: 40px;
    width: auto;
    padding: 10 5 10 5;
}

.Footer_Content_list{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    padding-top:10%; 
}

.Footer_Content_list li{
    float: left;
    padding: 0 5 0 5;
    font-size: 12px;
}

.Footer_Content_address{
    padding-top: 10px;
    font-size: 10px;
}



/******************************/
.bar{
    width:100%;
    height: 2px;
}