.AdenovoPage{
  background-color: #e5e5e5;
  min-width: 1670px;
}
/*****************************************/


.Content{
  width: 100%;
  height: 2250px;
  display: flex;
  justify-content: center;
  background: url(../icons/box.png) center no-repeat;
  background-size: 100% 125%;
  background-position: 0px -150px;
}

.Content_Background{
  height: 900px;
  min-width: 1670px;
  position: absolute;
  z-index: -1;
  background: url(../image/bg_adenovo_image.jpg) center no-repeat;
  background-size: 100% auto;
  opacity: 0.15;
}

.Content_Box{
  width: 1220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;

}

.Content_Block{
  width: 520px;
  padding: 0 30px;
  font-family: 'Roboto', sans-serif;
}



.Content_Title{
  width: 100%;
  height: 65px;
  background:  #26306f ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px;
  box-shadow:0px 0px 22px rgba(0,0,0,0.4);
  font-family: 'Raleway', serif;
  font-size: 22px;
  font-weight: 100;
}

.Content_Chart{
  width: 100%;
  display: flex;
  justify-content: center;

}

.Content_Caption{
  color: rgba(0,0,0,0.4);
  padding: 10px 0;
  font-size: 16px;
}

.Content_Detail{
  padding: 10px 0; 
  font-size: 18px;
}


.Content_Supplement{
  width: 100%;
  color: rgba(0,0,0,0.5);
}

.Content_Space{
  height: 30px;
  width: 100%;
}

/*****************************************/
.Introduce_Supplement{
  width: 100%;
  padding: 100px 0 40px 0;
  color: rgba(0,0,0,0.6);
}

.Introduce_Logo{
  width: 100%;
  height: 130px;
  background: url(../icons/adenovo_logo.png) no-repeat center;
  background-size: auto 100%;
}

.Introduce_Title{
  width: 100%;
  margin: 40px 0 0 0;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.Introduce_GreenLine{
  width: 100%;
  height: 3px;
  margin: 30px 0;
  background: url(../icons/greenline_1.png) no-repeat center;
  background-size: auto 100%;
}

.Introduce_Detail{
  width: 90%;
  padding: 0 5% 60px 5%;
  color: rgba(0,0,0,0.6);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 30px;
}






/*****/
.Index_Chart{
  width: 90%;
  padding: 0 5%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ChartOff{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 10px 0;
  padding: 25px;
  background: url(../icons/chart_dashbox.png) no-repeat;
  background-size: 100% 100%;
  color: rgba(0,0,0,0.2);
  
}

.Chart_Caption{
  font-size: 47px;
  font-family: 'Lora', serif;
  flex-grow: 2;
}

.Chart_Detail{
  width: 100%;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}


.Chart_Cloud{
  width: 100%;
  height: 100px;
  margin-top: 30px; 
  background: url(../icons/chart_dragdrop.png) center no-repeat;
  background-size: auto 100%; 
}



/*****/
.ChartOn{
  height: 300px;
  width: 300px;
  margin: 10px  0;
  padding: 25px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(0,0,0,0.6);
  background: url(../icons/chart_greenbox.jpg);
  background-size: 100% 100%;
  color: white;
}



.Chart_FileName{
  width: 100%;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.Chart_Cancel{
  width: 65px;
  height: 30px;
  border: 2px solid rgba(100%,100%,100%,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Chart_UpdateWord{
  font-size: 18px;
  width: 75%;
  letter-spacing: 2px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.Chart_UpdateImg{
  height: 55px;
  width: 25%;
  background: url(../icons/chart_update_success.png) right no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: flex-end;
}
/********************/
.Chart_Middlespace{
  margin: 10px 20px ; 
}

.Chart_Space{
  height: 50px;
  width: 900px;
}


/*****************************************/

.AdenovoPageFooter {
  height: 250px;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url(../image/footer_bg-small.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', serif;
}

.AdenovoPageFooter_Logo {
  height: 60px;
  width: 180px;
  background: url(../icons/logo_DCBP.png) no-repeat center;
  background-size: 100% auto;
  padding-bottom: 20px;
}

.AdenovoPageFooter_Caption {
  padding-top: 10px;
  height: 13px;
}

.AdenovoPageFooter_Caption>img {
  height: 100%;
  width: auto;
}

.AdenovoPageFooter_Address {
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  padding-top: 50px;
}