/** BrowsingPage **/
.BrowsingPage
{
  width: 100%;
  text-align: center;
}

/** block BrowsingPageSidebar **/
.BrowsingPageSidebar
{
  width: 200px;
  min-height: 600px;
  font-size: 16px;
  font-weight : bold;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: bold;
}

/** block BrowsingPageFooter **/
.BrowsingPageFooter{
    color: white;
    text-align: center;
    height: 400px;
    width: 80%;
    position: relative;
    left: 200;
    background-image: url(../image/footer_bg2.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    font-size: 26px;
}

.BrowsingPageFooter_Logo{
    width: 60%;
    height: 30px;
    background: url(../icons/logo_DCBP.png) center no-repeat;
    background-size: auto  100%;
}


.BrowsingPageFooter_Word{
    width: 60%;
    font-size: 30px;
}

.BrowsingPageFooter_Button{
    height: 50px;
}


.BrowsingPageFooter_Button>img{
    height: 40px;
    width: auto;
}

.BrowsingPageFooter_List{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.BrowsingPageFooter_List_Word{
    padding:0px 20px;
}

.BrowsingPageFooter_Address{
    font-size: 10px;
}

.BrowsingPageFooter_List_Word-skin{
    border-left: 1px solid white;
}

/** misc modifier **/
.dev
{
  border: 1px dotted;
}