
.PageHeader{
  position: absolute !important;
  background: none !important;
  border-bottom: 2px solid rgba(100%,100%,100%,0.1) !important;
}

.BrowsingpageHeader{
  min-width: 1450px;
  height: 820px;
  background-image: url(../image/hero.png);
  background-size: 100% auto;
  color: white;
  text-align: center;
  
  
}

.BrowsingpageHeader a:link,a:visited{
  text-decoration: none;
  color: white;
}



.BrowsingpageHeader a:hover,a:active{
  text-decoration: underline;
}



.BrowsingpageHeader_Content{
  height: 850px;

  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.BrowsingpageHeader_Title{
  width: 100%;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  padding-top: 0px;
}

.BrowsingpageHeader_Detail{
  width: 100%;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.6;
  padding: 10px 0 30px 0;
}

.BrowsingpageHeader_Search{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}


/******************************/
.SearchBar
{
  
  height: 70px;
  width: 450px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  
}

.SearchBar_Img
{
  
  width: 70px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(100%,100%,100%,0.2) url(../icons/magnifying_glass.png) center no-repeat;
  background-size: auto 40%;
}


.SearchBar_Field
{
  
  width: 370px;
  height: 100%;
  font-size: 18px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(100%,100%,100%,0.2);
  color:rgba(100%,100%,100%,0.7);
  padding-left: 10px; 
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(100%,100%,100%,0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;

}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(100%,100%,100%,0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(100%,100%,100%,0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(100%,100%,100%,0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;

}

.SearchBar_Go{
  margin-left: 10px; 
  width: 80px;
  height: 70px;
  background: #e7211e;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}



/****************/
.Content {
  width: 1840px;
}

@media only screen and (max-width: 1830px) {
  .Content {
    width: 1530px;
  }
}

@media only screen and (max-width: 1550px) {
  .Content {
    width: 1250px;
  }
}

@media only screen and (max-width: 1230px) {
  .Content {
    width: 930px;
  }
}

/** page BrowsingPage **/
.DivStyle {
  display: initial;
}

.BrowsingPage {
  width: 100%;
  text-align: center;
}

/** block BrowsingPageSidebar **/
.BrowsingPageSidebar {
  width: 250px;
  min-height: 600px;
  font-size: 16px;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-weight: 700;
}

.BrowsingPageSidebar_Line {
  width: 90%;
  margin-left: 5%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  margin: 35px 0;
}

/** block BrowsingPageFooter **/
.BrowsingPageFooter {
  color: rgba(100%, 100%, 100%, 0.7);
  text-align: center;
  height: 400px;
  min-width: 1000px;
  margin-left: 13%;
  background: url(../image/footer_bg2.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 26px;
  margin-top: 10px;
}

.BrowsingPageFooter_Logo {
  width: 60%;
  height: 30px;
  background: url(../icons/logo_DCBP.png) center no-repeat;
  background-size: auto 100%;
  margin-top: 80px;
}

.BrowsingPageFooter_Caption {
  width: 60%;
  height: 10px;
}

.BrowsingPageFooter_Caption>img {
  width: auto;
  height: 100%;
}

.BrowsingPageFooter_List {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.BrowsingPageFooter_List_Word {
  font-family: 'Raleway', sans-serif;
  padding: 0px 20px;
  letter-spacing: 2px;
}


.BrowsingPageFooter_List_Word a:link,a:visited{
  text-decoration: none;
  color: rgba(100%,100%,100%,0.7);
}



.BrowsingPageFooter_List_Word a:hover,a:active{
  text-decoration: underline;
}




.BrowsingPageFooter_Address {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.BrowsingPageFooter_List_Word-skin {
  border-left: 1.5px solid rgba(100%, 100%, 100%, 0.4);
}

/** misc modifier **/
.dev {
  border: 1px dotted;
}



/******************************/
.Browsingpage_Content_RedDown{
  width: 50px;
  height: 40px;
  position: relative;
  
  opacity: 0.5;
  -webkit-animation-name: RedDown;
  -webkit-animation-duration: 1s;
  background:url(../icons/red_down_double_arrow.png) no-repeat center;
  background-size: auto 95%;
  animation-name: RedDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite; 
}

.Browsingpage_Content_RedDown a{
  display:  block;
  position: absolute;
  height: 40px;
  width: 100%;
}

@-webkit-keyframes RedDown{
  0%{top:0;}
  50%{top:10px;}
  100%{top: 0;}
}

@keyframes RedDown{
  0%{top:0;}
  50%{top:10px;}
  100%{top: 0;}
}
