/** page BrowsingPage **/
.DivStyle {
  display: initial;
}

.BrowsingPage {
  width: 100%;
  text-align: center;
}

/** block BrowsingPageHeader **/
.BrowsingPageHeader {
  min-width: 1920px;
  height: 1080px;
  background-image: url(../image/hero.png);
  background-size: 100% auto;
  color: white;
  text-align: center;
}

.BrowsingPageHeader a:link, a:visited {
  text-decoration: none;
  color: white;
}

.BrowsingPageHeader a:hover, a:active {
  text-decoration: underline;
}

.BrowsingPageHeader_Content {
  height: 1080px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.BrowsingPageHeader_Title {
  width: 100%;
  font-size: 104px;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  padding-top: 260px;
  line-height: 110px;
}

.BrowsingPageHeader_Detail {
  width: 100%;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.6;
  padding: 20px 0 40px 0;
  font-size: 30px;
}

.BrowsingPageHeader_Search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 150px;
}

/** element BrowsingPage_NextStep **/
.BrowsingPage_NextStep {
  width: 100%;
  height: 50px;
  position: relative;
  opacity: 0.5;
  -webkit-animation-name: NextStepArrow;
  -webkit-animation-duration: 1s;
  background: url(../icons/red_down_double_arrow.png) no-repeat center;
  background-size: auto 100%;
  animation-name: NextStepArrow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.BrowsingPage_NextStep a {
  display: block;
  height: 40px;
  width: 100%;
}

@-webkit-keyframes NextStepArrow{
  0%{top: 70px;}
  50%{top: 60px;}
  100%{top: 70px;}
}

@keyframes NextStepArrow{
  0%{top: 70px;}
  50%{top: 60px;}
  100%{top: 70px;}
}

/** block BrowsingPageContent **/
@media only screen and (max-width: 2430px) {
  .BrowsingPageContent {
    width: 2130px;
  }
}

@media only screen and (max-width: 2130px) {
  .BrowsingPageContent {
    width: 1830px;
  }
}

@media only screen and (max-width: 1830px) {
  .BrowsingPageContent {
    width: 1530px;
  }
}

@media only screen and (max-width: 1550px) {
  .BrowsingPageContent {
    width: 1250px;
  }
}

@media only screen and (max-width: 1230px) {
  .BrowsingPageContent {
    width: 930px;
  }
}

.SearchBar {
  height: 80px;
  width: 630px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.SearchBar_Img {
  width: 120px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(100%, 100%, 100%, 0.2)
    url(../icons/magnifying_glass.png) center no-repeat;
  background-size: auto 40%;
}

.SearchBar_Field {
  width: 100%;
  height: 100%;
  font-size: 22px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(100%, 100%, 100%, 0.2);
  color: rgba(100%, 100%, 100%, 0.7);
  padding-left: 0px;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(100%, 100%, 100%, 0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(100%, 100%, 100%, 0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(100%, 100%, 100%, 0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(100%, 100%, 100%, 0.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.7px;
}

.SearchBar_Go {
  margin-left: 10px;
  width: 100px;
  height: 80px;
  background: #e7211e;
  font-size: 26px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/** block BrowsingPageSidebar **/
.BrowsingPageSidebar {
  width: 250px;
  font-size: 16px;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-weight: 700;
}

.BrowsingPageSidebar_Line {
  width: 90%;
  margin-left: 5%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  margin: 35px 0;
}

/** block BrowsingPageIndex **/
.BrowsingPageIndex {
  display: flex;
  flex-wrap: wrap;
}

/** block BrowsingPageFooter **/
.BrowsingPageFooter {
  color: rgba(100%, 100%, 100%, 0.7);
  text-align: center;
  height: 400px;
  width: 100%;
  background: url(../image/footer_bg.png) no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 26px;
  margin-top: 110px;
  align-self: flex-end;
}

.BrowsingPageFooter_Logo {
  width: 60%;
  height: 30px;
  background: url(../icons/logo_DCBP.png) center no-repeat;
  background-size: auto 100%;
  margin-top: 80px;
}

.BrowsingPageFooter_Caption {
  width: 60%;
  height: 10px;
}

.BrowsingPageFooter_Caption>img {
  width: auto;
  height: 100%;
}

.BrowsingPageFooter_List {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.BrowsingPageFooter_List_Word {
  font-family: 'Raleway', sans-serif;
  padding: 0px 20px;
  letter-spacing: 2px;
}

.BrowsingPageFooter_List_Word a:link, a:visited {
  text-decoration: none;
  color: rgba(100%, 100%, 100%, 0.7);
}

.BrowsingPageFooter_List_Word a:hover, a:active {
  text-decoration: underline;
}

.BrowsingPageFooter_Address {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.BrowsingPageFooter_List_Word-skin {
  border-left: 1.5px solid rgba(100%, 100%, 100%, 0.4);
}