.BuyingProcess {
    height: 1200px;
    color: black;
    background-image: url(../image/bg_2.png);  
    
}


.BuyingProcess>img{
    float: right;
    width: auto;
    height: 100%;
}

.BuyingProcess_WordBlock{
    height: 100%;
    position: absolute;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 150px 0 0 150px;
}



.BuyingProcess_WordBlock_CarChart>img{
    height: auto;
    width: 120%;
}