.BuyingProcess {
    position: relative;
    
    height: 1081px;
    min-width: 1450px;
    color: black;
    background: url(../image/bg_1.2_2.jpg) no-repeat;  
    background-size:100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.BuyingProcess_WordBlock{
    height: 100%;
    
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.BuyingProcess_WordBlock_CarChart>img{
    height: auto;
    width: 100%;
}