
.CarFinder_Sorter select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.CarFinder_Sorter select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.CarFinder_Sorter select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/*********************/
/** block CarFinder **/
.CarFinder{
  height: 150px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.CarFinder_SearchBar
{
  height: 50px;
  min-width: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgba(0,0,0,0.3);
  margin-right: 50px;
}

.CarFinder_SearchBar_Img
{
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(100%,100%,100%,1);
}

.CarFinder_SearchBar_Img>img{
    width: auto;
    height: 50%;
}

.CarFinder_SearchBar_Field
{
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: white;
  margin-left: 10px;

}

.CarFinder_PricingDisplay{
  font-family: 'Lato', sans-serif;
  min-width: 500px;
  font-size: 16px;
  margin: 0 0 20px 0 ;
  display: flex;
  align-items: center;
}

.CarFinder_PricingDisplay_Caption{
  width: 130px;
  padding:0 30px;
  font-weight: 900;
}

.CarFinder_PricingDisplay_Block{
  padding:  5px 20px;
  border:1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  color: rgba(0,0,0,0.3);
  font-weight: 700;
  cursor: pointer;
}

.CarFinder_PricingDisplay_Block-selected{
  background: #e7211e;
  border:1px solid #e7211e;
  border-radius: 3px;
  color: white;
  font-weight: 100;
}


.CarFinder_Sort{
  font-family: 'Lato', sans-serif;
  min-width: 340px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 70px 20px 30px ;
}

.CarFinder_Sort_List{
  width: 200px;
}

.CarFinder_Sort_Menu{
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.CarFinder_Sort_Menu>img{
  width: auto;
  height: 100%;
  transition:.5s;
}

.CarFinder_Sort_Menu>img:hover{
  transform: scale(1.2);
}

