/*********************/
/** block CarFinder **/
.CarFinder {
  height: 150px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CarFinder.v-layout{
  margin-top: 35px;
}

.CarFinder_SearchBar {
  height: 50px;
  min-width: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin-right: 50px;
}

.CarFinder_SearchBar_Caption {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../icons/magnifying_glass-black.png) center no-repeat;
  background-size: auto 50%;
}

.CarFinder_SearchBar_Field {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  background: white;
  margin-left: 10px;
}

.CarFinder_PricingDisplay {
  font-family: 'Lato', sans-serif;
  min-width: 500px;
  font-size: 16px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.CarFinder_PricingDisplay_Caption {
  width: 130px;
  padding: 0 30px;
  font-weight: 900;
}

.CarFinder_PricingDisplay_Block {
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  cursor: pointer;
}

.CarFinder_PricingDisplay_Block-selected {
  background: #e7211e;
  border: 1px solid #e7211e;
  border-radius: 3px;
  color: white;
  font-weight: 100;
}

/*****************/
.CarFinder_Sorter {
  font-family: 'Lato', sans-serif;
  min-width: 340px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 70px 20px 30px;
}

.CarFinder_Sorter_Selector {
  width: 268px;
  margin: 0 10px;
  background: url(../icons/car_find_arrow.png) no-repeat right center;
  background-size: auto 90%;
  height: 30px;
  display: flex;
  align-items: center;
}

.CarFinder_Sorter_Selector select {
  background: transparent;
  padding-left: 20px;
  /* If you add too much padding here, the options won't show in IE */
  width: 100%;
  /* Chrome */
  -webkit-appearance: none;
  /* Firefox */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ' '; /* space */
  border: 1px solid #ccc;
  font-size: 16px;
  color: #e7211e;
  height: 35px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
}

.CarFinder_Sorter_Selector select::-ms-expand {
  display: none;
}

/******************/
.CarFinder_Menu {
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.CarFinder_Menu>img {
  width: auto;
  height: 100%;
  transition: .5s;
}

.CarFinder_Menu>img:hover {
  transform: scale(1.2);
}