/** block CarBrowser **/
.CarBrowser
{
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
}

.CarBlock
{
  width: 330px;
  height: 320px;
  margin: 10px 5px;
  background-color: white;
  border: darkgray solid thin;
  transition-delay: 2s;
}

.CarBlock_Img
{
  width: 328px;
  height: 246px;
  cursor: pointer;
}

.CarBlock_Desc
 {
  width: 100%;
  color: black;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  
}

.CarBlock_Desc_Caption
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 65%;
  margin-left:5% ;
  padding-bottom: 5px;
}

.CarBlock_Desc_Price
{
  text-align: right;
  width: 25%;
  color: #e7211e;
  padding-right:5%;
  padding-bottom: 5px;
}

.CarBlock_Desc_Favorite
{
  width: 6%;
  height: 16px;
  margin-left: 5%;
  background: url(../icons/heart_empty.png) no-repeat;
  background-size: auto 16px;
}

.CarBlock_Desc_Favorite-selected
{
  background: url(../icons/heart_full.png) no-repeat;
  background-size: auto 16px;
}

.CarBlock_Desc_Mileage
{
  width: 35%;
  padding-left: 4%;
}

.CarBlock_Desc_Ship
{
  text-align: right;
  width: 45%;
  padding-right: 5%;
}