
/********************/
.Header {
    width: 100%;
    height: 80px;
    background-color:#e7211e;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.Header_Logo{
    width: 70%;
    height: 30%;
    background: url(../icons/logo_logo.png) no-repeat;
    background-size: auto 100%;
}


.Header_Menu{
    width:5%;
    height: 30%;
    background: url(../icons/menu_icon.png) no-repeat;
    background-size: auto 100%;
}


/********************/
.Sidebar{
    height: 1500px;
    width: 200px;
    float: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Sidebar-skin{
    font-size: 16px;
    font-weight: bold;
}

/**Sidebar_Plus
**/

.Sidebar_PlusList{
    height: 2%;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.Sidebar_PlusList_Word{
    width: 60%;
}

.Sidebar_PlusList_Img{
    width: 20%;
    height: 100%;
    background: url(../icons/plus.png) no-repeat center;
    background-size: auto 60%;
}



/**Sidebar_Arrow
**/

.Sidebar_ArrowList{
    height: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 10 0;
}

.Sidebar_ArrowList_Img>img{
    height: 60%;
}

.Sidebar_ArrowList_Img{
    width: 20%;
    height: 30px;
    background: url(../icons/arrowlist.png) no-repeat center;
    background-size: auto 80%;
}

/********************/
.Page{
    height: 1500px;
    position: relative;
    left: 210px;
}

/**Page_Find
**/
.Page_Find{
    height: 200px;
    width: auto;
}

.Page_Find_Bar{
    height: 100px;
    padding: 30 0 0 50;
}

/**Page_Content
**/
.Page_Content{
    height: 1300px;
    position: relative;
    right: 200px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;

}

.CarBlock{
    height: 300px;
    width: 330px;
    margin: 10 5 10 5px;
    background-color: white;
    border:darkgray solid thin;
    
}

.CarBlock_Img{
    width: 100%;
    height: 80%;
    background: url(../icons/sample_car.png) no-repeat;
    background-size: 100% auto;
}

.CarBlock_Detail{
    width: 100%;
    color: black;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.CarBlock_Detail_CarName{
    width: 70%;
}

.CarBlock_Detail_Price{
    color: #e7211e;
    width: 30%;
}


.CarBlock_Detail_Heart{
    width: 9%;
    height: 16px;
    background: url(../icons/full_heart.png) no-repeat;
    background-size: auto 16px;
}



.CarBlock_Detail_Miles{
    text-align: left;
    width: 30%;
}

.CarBlock_Detail_Ship{
    width: 50%;
}




/**Footer
**/
.Footer{
    color: white;
    text-align: center;
    height: 600px;
    background-image: url(../image/footer_bg2.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    font-size: 26px;
}

.Footer_Logo>img{
    width: 30%;
    height: auto;
}

.Footer_Word{
    width: 60%;
    font-size: 60px;
}

.Footer_Button{
    height: 50px;
}


.Footer_Button>img{
    height: 40px;
    width: auto;
}

.Footer_List{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.Footer_List_Word{
    width: 14%;
}

.Footer_Address{
    font-size: 10px;
}

.Footer_List_Word-skin{
    border-left: 1px solid white;
}
