body {
  background-color: #e5e5e5;
}



/** page ComparingPage **/
.DivStyle {
  display: initial;
}

.ComparingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** override PageHeader **/
.PageHeader {
  background-color: #b6b6b6 !important;
  border-bottom: 2px solid rgba(100%, 100%, 100%, 0.2) !important;
}

.PageHeader_Logo {
  background: url(../icons/header_logo-blue.png) no-repeat !important;
  background-size: auto 75% !important;
}

.PageHeader_SeeCar {
  display: none !important;
}

.PageHeader_Menu {
  background: url(../icons/menu_icon-black.png) no-repeat !important;
  background-size: auto 100% !important;
}



.Content {
  margin-bottom: 100px;
}

.ComparingPage_Bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 900px;
  background: url(../image/comparison_bg.jpg) no-repeat center;
  background-size: 100% auto;
}

.ComparingPage_Title {
  font-family: 'Playfair Display', serif;
  color: #26306f;
  padding: 80px 0 40px 0;
  font-size: 82px;
  text-align: center;
}

.ComparingPage_Detail {
  font-size: 26px;
  padding: 0 0 60px 0;
  text-align: center;
}

/** block ShoppingPageFooter **/
.ComparingPageFooter {
  height: 250px;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url(../image/footer_bg-small.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', serif;
}

.ComparingPageFooter_Logo {
  height: 60px;
  width: 180px;
  background: url(../icons/logo_DCBP.png) no-repeat center;
  background-size: 100% auto;
  padding-bottom: 20px;
}

.ComparingPageFooter_Caption {
  padding-top: 10px;
  height: 13px;
}

.ComparingPageFooter_Caption>img {
  height: 100%;
  width: auto;
}

.ComparingPageFooter_Address {
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  padding-top: 50px;
}