.ComparingPage_Discribe {
  width: 45%;
  height: 350px;
  margin: 50px 0px 0 0;
}

.ComparingPage_Discribe_Caption {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.ComparingPage_Discribe_Value {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.ComparingPage_Button {
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin: 40px 0 80px 0;
}

.ComparingPage_Button_Caption {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 26px;
  color: white;
  background: #0ad482;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  box-shadow: 0px 6px 22px rgba(10, 221, 130, 0.5)
}

/*******/
.ChartOff {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 310px;
  padding: 25px;
  background: url(../icons/chart_dashbox.png) no-repeat;
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0.2);
}

.Chart_Cloud {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background: url(../icons/comparison-page_upload.png) center no-repeat;
  background-size: auto 100%;
}

.Chart_UpdateCaption {
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.Chart_UpdateValue {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/*****/
.ChartOn {
  margin-top: 50px;
  height: 310px;
  width: 310px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.6);
  background: #0ad482;
  background-size: 100% 100%;
  color: white;
}

.Chart_Caption {
  width: 225px;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}

.Chart_Cancel {
  width: 65px;
  height: 30px;
  border: 2px solid rgba(100%, 100%, 100%, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Chart_FileName {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  height: 40px;
}

.Chart_UpdateWord {
  font-size: 20px;
  width: 70%;
  letter-spacing: 2px;
  height: 60px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.Chart_UpdateImg {
  height: 90px;
  width: 30%;
  background: url(../icons/comparison-page_check.png) center no-repeat;
  background-size: auto 100%;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}