/** page DetailingPage **/
.DivStyle {
  display: initial;
}

.DetailingPage {
  width: 100%;
/*  text-align: center;*/
}

/** override PageHeader **/
.PageHeader {
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.DetailingPage .PageHeader_SeeCar {
  display: none;
}

/** block DetailingPageHero **/
.DetailingPageHero {
  width: 100%;
  height: 850px;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.DetailingPageHero_Mask {
  width: 100%;
  height: 850px;
  position: absolute;
  z-index: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2),
    rgba(100%, 100%, 100%, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8));
}

.DetailingPageHero_Img {
  height: 850px;
  width: auto;
  position: absolute;
  z-index: 2;
}

.DetailingPageHero_Bkg {
  position: absolute;
  filter: blur(10px);
  height: 850px;
  width: 100%;
}










/** block PageContent **/
.Page {
  padding: 100px 50px 100px 150px;
  width: 900px;
  color: #000000;
}

.Page_Title {
  text-transform: uppercase;
  padding: 6px 25px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
}

.Page_Title-skin {
  background-color: #e7211e;
  text-align: center;
  color: white;
  font-size: 22px;
}

.Page_HeaderBlock {
  width: 100%;
}

.Page_HeaderBlock_Title {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  margin: 10px 0;
  letter-spacing: 1px;
}

.Page_HeaderBlock_Content {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 100px 0;
  font-weight: 300;
  font-size: 18px;
}

.DetailingPage_Line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}


/** block DetailingPageFooter **/
.DetailingPageFooter {
  color: white;
  text-align: center;
  height: 800px;
  background: url(../image/footer_bg.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 26px;
  margin-top: 10px;
}

.DetailingPageFooter_Logo {
  width: 60%;
  height: 30px;
  background: url(../icons/logo_DCBP.png) center no-repeat;
  background-size: auto 100%;
  margin-top: 180px;
}

.DetailingPageFooter_Caption  {
  height: 10px;
}

.DetailingPageFooter_Word {
  font-family: 'Playfair Display', serif;
  width: 60%;
  font-size: 60px;
  letter-spacing: 1px;
}

.DetailingPageFooter_List {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.DetailingPageFooter_List_Word {
  font-family: 'Raleway', sans-serif;
  padding: 0px 20px;
  letter-spacing: 2px;
  color: rgba(100%, 100%, 100%, 0.7);
}

.DetailingPageFooter_List_Word a:link, a:visited {
  text-decoration: none;
  color: rgba(100%, 100%, 100%, 0.7);
}

.DetailingPageFooter_List_Word a:hover, a:active {
  text-decoration: underline;
}

.DetailingPageFooter_Address {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.DetailingPageFooter_List_Word-skin {
  border-left: 1.5px solid rgba(100%, 100%, 100%, 0.4);
}


/** block DetailingPageHero_Overlay **/
.DetailingPageHero_Overlay {
  height: 850px;
  width: 100%;
  top: 80px;
  position: absolute;
  z-index: 15;
}

.DetailingPageHero_Overlay_Top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

.DetailingPageHero_Overlay_Back {
  position: absolute;
  left: 50px;
  cursor: pointer;
}


.DetailingPageHero_Overlay_Views {
  position: absolute;
  height: 30px;
  right: 50px;
  height: 30px;
  background: url(../icons/detailing-hero_views.png) no-repeat center left;
  background-size: auto 30px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}


.DetailingPageHero_Overlay_Arrow {
  position: absolute;
  top: 45%;
  right: 50px;
  width: 40px;
  height: 100px;
  background: url(../icons/detailing-hero_slide_arrow.png) no-repeat center;
  background-size: auto 100px;
  cursor: pointer;
}

.DetailingPageHero_Overlay_Arrow-revert {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  left: 50px;
}


.DetailingPageHero_CarDetail {
  margin: 0 5%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding-top: 30px;
}



.DetailingPageHero_Overlay_Loc {
  position: absolute;
  bottom: 220px;
  height: 30px;
  background: url(../icons/detailing-hero_location_pin.png) no-repeat center left;
  background-size: auto 30px;
  padding-left: 50px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

.DetailingPageHero_Overlay_Gal {
  position: absolute;
  bottom: 220px;
  left: 320px;
  height: 30px;
  background: url(../icons/detailing-page_04_gallery_icon.png) no-repeat center left;
  background-size: auto 30px;
  padding-left: 50px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

.DetailingPageHero_Overlay_CarName {
  font-family: 'Playfair Display', serif;
  width: 100%;
  font-size: 50px;
}



.DetailingPageHero_Overlay_Desc {
  position: absolute;
  bottom: 50px;  
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}



.DetailingPageHero_Arrow {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}






