/**third-index
**/
.Insurance{
    display: flex;
	flex-wrap: wrap;
}




.InsuranceBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 15px;
}



.InsuranceBlock_Img{
    height: 170px;
    width: 130px;
    text-align: right;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InsuranceBlock_Img img{
    height: 80%;
    width: auto;
}


.InsuranceBlock_Word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    padding-left: 20px;
}

.InsuranceBlock_Title{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}

.InsuranceBlock_Content{
    color: rgba(0,0,0,0.4);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

