/**third-index
**/
.Insurance{
    display: flex;
	flex-wrap: wrap;

}




.InsuranceBlock{
    display: flex;
    width: 420px;
    padding: 30px;
    float: left;
}



.InsuranceBlock_Img{
    height: 60px;
    width: 130px;
    padding: 10px 20px 10px 10px;
    

}

.InsuranceBlock_Img img{
    height: 100%;
    width: auto;
    float: right;
}


.InsuranceBlock_RedBar{
    width: 50px;
    height: 3px;
    float: right;
    background: #e7211e  no-repeat;
    clear: both;
}



.InsuranceBlock_Word{
    width: 290px;
    
}

.InsuranceBlock_Title{
    font-size: 20px;
    font-weight: bold;
}

.InsuranceBlock_Content{
    color: rgba(0,0,0,0.4);
    font-family: 'Raleway', sans-serif;
}

