/** block PageHeader **/
.PageHeader
{
  width: 100%;
  height: 80px;
  background-color: #e7211e;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.PageHeader_Logo
{
  width: 70%;
  height: 30%;
  background: url(../icons/header_logo.png) no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.PageHeader_Menu
{
  width: 48px;
  height: 30px;
  background: url(../icons/menu_icon.png) no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.PageHeader_MenuPage
{
  visibility: hidden;
  position: relative;
  top: 20px;
  left: 110px;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 250px;
  background: linear-gradient(to right bottom, #f7312e, #c50000);
  border-radius: 5px;
  align-self: flex-start;
  z-index: 1;
  box-shadow: -6px 6px 12px rgba(20%, 20%, 40%, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.PageHeader_MenuPage-selected
{
  visibility: visible;
  -webkit-animation: valo-animate-in-fade 300ms;
  -moz-animation: valo-animate-in-fade 300ms;
  animation: valo-animate-in-fade 300ms;
}

.PageHeader_MenuPage_Cart
{
  width: 65%;
  height: 40px;
  background: url(../icons/menu_cart.png) left no-repeat;
  background-size: auto 75%;
  font-size: 14px;
}

.PageHeader_MenuPage_Menu
{
  width: 90%;
  height: 40px;
  background: url(../icons/menu_icon.png) right no-repeat;
  background-size: auto 22px;
}

.PageHeader_MenuPage_List
{
  height: 40px;
  width: 100%;
  text-align: center;
}

.PageHeader_MenuPage_Language
{
  width: 50%;
}