/** block PageHeader **/
.PageHeader {
  position: relative;
  width: 100%;
  min-width: 1650px;
  height: 120px;
  background-color: #e7211e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 20;
}

.PageHeader_Logo {
  width: 1000px;
  height: 45px;
  background: url(../icons/header_logo.png) no-repeat;
  background-size: auto 75%;
  cursor: pointer;
  margin-left: 60px;
}

.PageHeader_Logo a {
  display: block;
  height: 45px;
  width: 100%;
}


.PageHeader_SeeCar {
  position: absolute;
  right: 200px;
  width: 250px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7211e;
  cursor: pointer;
  border-radius: 3px;
  letter-spacing: 2px;
  margin-left: 150px;
  font-family: 'Source Sans Pro', sans-serif;
}

.PageHeader a:link, a:visited {
  text-decoration: none;
  color: white;
}

.PageHeader a:hover, a:active {
  text-decoration: underline;
}

.PageHeader_Menu {
  width: 48px;
  height: 30px;
  background: url(../icons/menu_icon.png) no-repeat;
  background-size: auto 100%;
  cursor: pointer;
  margin-right: 60px;
}

/** block-element PageHeader_MenuPage **/
.PageHeader_MenuPage {
  visibility: hidden;
  margin-top: 5px;
  position: absolute;
  right: -2px;
  top: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 300px;
  background: linear-gradient(to right bottom, rgba(255, 10, 0, 1),
    rgba(159, 2, 2, 0.97));
  border-radius: 5px;
  align-self: flex-start;
  z-index: 20;
  box-shadow: -6px 6px 12px rgba(20%, 20%, 40%, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.PageHeader_MenuPage-selected {
  visibility: visible;
  -webkit-animation: valo-animate-in-fade 300ms;
  -moz-animation: valo-animate-in-fade 300ms;
  animation: valo-animate-in-fade 300ms;
}

.PageHeader_MenuPage_Cart {
  background: url(../icons/menu_cart.png) no-repeat left center;
  background-size: auto 37%;
  width: 140px;
  height: 70px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-right: 60px;
  font-weight: 200;
  line-height: 15px;
}

.PageHeader_MenuPage_Menu {
  width: 50px;
  height: 30px;
  background: url(../icons/menu_icon.png) right no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.PageHeader_MenuPage_List {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px rgba(100%, 100%, 100%, 0.5);
}

.PageHeader_MenuPage_TopLine {
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0.1;
  margin-bottom: 35px;
}

.PageHeader_MenuPage_BottomLine {
  width: 100%;
  height: 2px;
  background: black;
  opacity: 0.1;
  margin-top: 35px;
}

.PageHeader_MenuPage_Language {
  height: 60px;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(100%, 100%, 100%, 0.6);
}

.PageHeader_MenuPage_LanguageLine {
  height: 60px;
  width: 2px;
  background: black;
  opacity: 0.1;
}

.PageHeader_MenuPage_Language-selected {
  color: rgba(100%, 100%, 100%, 1);
}

/***************   AdenovoPage    *************/
.AdenovoPage .PageHeader{
  background-color: #e5e5e5 ;
}

.AdenovoPage .PageHeader_Logo{
  background: url(../icons/header_logo-blue.png) no-repeat ;
  background-size: auto 75%;
}

.AdenovoPage .PageHeader_SeeCar{
  display: none;
}

.AdenovoPage .PageHeader_Menu{
  background: url(../icons/menu_icon-black.png) no-repeat;
  background-size: auto 100%;
}


/***************   ShoppingPage    *************/
.ShoppingPage .PageHeader {
  background-color: #e5e5e5;
}

.ShoppingPage .PageHeader_Logo {
  background: url(../icons/header_logo-blue.png) no-repeat;
  background-size: auto 75%;
}

.ShoppingPage .PageHeader_SeeCar {
  display: none;
}

.ShoppingPage .PageHeader_Menu {
  background: url(../icons/menu_icon-gray.png) no-repeat;
  background-size: auto 100%;
}


/***************   ComparingPage    *************/
.ComparingPage .PageHeader {
  background-color: #b6b6b6;
  border-bottom: 2px solid rgba(100%, 100%, 100%, 0.2);
}

.ComparingPage .PageHeader_Logo {
  background: url(../icons/header_logo-blue.png) no-repeat;
  background-size: auto 75%;
}

.ComparingPage .PageHeader_SeeCar {
  display: none;
}

.ComparingPage .PageHeader_Menu {
  background: url(../icons/menu_icon-black.png) no-repeat;
  background-size: auto 100%;
}



/***************   BrowsingPage    *************/
.BrowsingPage .PageHeader {
  position: absolute;
  top: 0;
  background: none;
  border-bottom: 2px solid rgba(100%, 100%, 100%, 0.1);
}


/***************   AdenovoPage    *************/





