
/**fourth-index
**/
.PeaceOfMind{
    display: flex;
	flex-wrap: wrap;
}

.PeaceOfMindBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 15px;
}




.PeaceOfMindBlock_Word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    padding-left: 20px;
}

.PeaceOfMindBlock_Content{
    color: rgba(0,0,0,0.4);
    font-family: 'Raleway', sans-serif;
}

.PeaceOfMindBlock_Caption{
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
}

.PeaceOfMindBlock_Value{
	font-size: 20px;
	color: #e7211e;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

.PeaceOfMindBlock_Img{
    height: 170px;
    width: 130px;
    text-align: right;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.PeaceOfMindBlock_Img img{
    height: 80%;
    width: auto;
    
}


