
/**fourth-index
**/
.PeaceOfMind{
    display: flex;
	flex-wrap: wrap;
}

.PeaceOfMindBlock{
    width: 450px;
    height: 200px;
    padding: 25px;
}




.PeaceOfMindBlock_Word{
    width: 270px;
    float: left;
}

.PeaceOfMindBlock_Content{
    color: rgba(0,0,0,0.4);
    font-family: 'Raleway', sans-serif;
}

.PeaceOfMindBlock_Caption{
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
}

.PeaceOfMindBlock_Value{
	font-size: 20px;
	color: #e7211e;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

.PeaceOfMindBlock_Img{
    height: 100%;
    width: 130px;
    float: left;
    padding: 00px 40px 10px 10px;
    display: flex;
    justify-content: center;
}

.PeaceOfMindBlock_Img img{
    height: 35%;
    width: auto;
    
}