.Registration{
    height: 1080px;
    width: 100%;
    background: linear-gradient(#000000,#1e1e1e);
    background-size: 100% 100%; 
    text-align: left;
    display: flex;
    justify-content: center;
    color: white

}

.Registration_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 565px;
    width: 20%;
    margin-left: 20%;
    
}


.Registration_Car{
    height: 800px;
    width: 60%;
    background:url(../image/car_registration_1.png) no-repeat right;
    background-size: auto 100%;
    position: relative;
    top: -50px;
}



.Registration_Detail{
    width: 400px;   
    font-family: 'Raleway', sans-serif;
    
}

.Registration_SeeCar {
    height: 60px;
    width: 350px;
    background: url(../icons/homepage_button.png) no-repeat 5px 0px; 
    background-size: auto 100%;
    font-size: 26px;
    color: white;
    border-radius: 10px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    margin: 20px 0 50px 0;
}

.RedCar_Img{
    position: absolute;
    top: 5190px;
    height: 550px;
    left: 0px;
    min-width: 100%;
    z-index: 5;
    background: url(../image/car_registration_2.png) no-repeat left;
    background-size: auto 100%;
}

