/** block ShoppingSummary **/
.ShoppingSummary {
  min-width: 400px;
  margin-left: 20px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to bottom, #27316f, #20254b);
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.4);
}

.ShoppingSummary_Header {
  height: 60px;
  font-family: 'Playfair Display', serif;
  padding: 35px 0 0 30px;
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ShoppingSummary_Header-supplement {
  height: initial;
  padding: 10px 0 0 30px;
  font-size: 16px;
  color: rgba(100%, 100%, 100%, 0.2);
}

.ShoppingSummary_Header_Supplement {
  width: 300px;
  font-size: 16px;
  color: rgba(100%, 100%, 100%, 0.2);
}

.ShoppingSummary_Line {
  height: 1px;
  width: 100%;
  background: rgba(100%, 100%, 100%, 0.2);
  margin: 35px 0;
}

/** block_element ShoppingSummary_Row **/
.ShoppingSummary_Row {
  /* width: 80%; */
  align-items: center;
  padding: 10px 10%;
  display: flex;
  justify-content: center;
}

.ShoppingSummary_Row_Caption {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  color: rgba(100%, 100%, 100%, 0.2);
  text-align: left;
}

.ShoppingSummary_Row_TotalCaption {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: left;
  font-weight: 300;
}

.ShoppingSummary_Row_TotalCaption>b {
  color: rgba(100%, 100%, 100%, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.ShoppingSummary_Row_Value {
  width: 40%;
  text-align: right;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.ShoppingSummary_Row_Value-emphasize {
  font-size: 30px;
  color: #ffffff;
}

.ShoppingSummary_Button {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  position: relative;
}

.ShoppingSummary_Button_Caption {
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: white;
  background: #11c759;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.ShoppingSummary_Supplement {
  width: 100%;
  color: rgba(100%, 100%, 100%, 0.2);
  text-align: center;
  padding: 25px 0 50px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}