.Content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/** page ShoppingPage **/
.DivStyle {
  display: initial;
}

.ShoppingPage {
  width: 100%;
  background-color: #e5e5e5;
}

.Container {
  width: 100%;
  text-align: center;
}
/** block  PayWindow **/
.PayWindow_Content {
  width: 100%;
}

/** block ShoppingPageFlow **/
.ShoppingPageFlow {
  height: 150px;
  justify-content: center;
  display: flex;
}

.ShoppingPageFlow_Item {
  height: 70px;
  width: 400px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 20px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.ShoppingPageFlow_Item_Caption {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  margin: auto;
}

.ShoppingPageFlow_Item-selected {
  color: white;
  background: linear-gradient(to bottom,#27316f,#20254b);
  -webkit-animation: valo-animate-in-fade 200ms;
  -moz-animation: valo-animate-in-fade 200ms;
  animation: valo-animate-in-fade 200ms;
  box-shadow:0px 0px 22px rgba(0,0,0,0.4);
}

.ShoppingPageFlow_Stage {
  width: 1220px;
  padding: 25px 0;
}

/** block ShoppingPageFlow **/
.ShoppingCart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ShoppingFinance {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ShoppingPayment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/** block ShoppingPageFooter **/
.ShoppingPageFooter {
  height: 250px;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url(../image/footer_bg-small.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', serif;
}

.ShoppingPageFooter_Logo {
  height: 60px;
  width: 180px;
  background: url(../icons/logo_DCBP.png) no-repeat center;
  background-size: 100% auto;
  padding-bottom: 20px;
}

.ShoppingPageFooter_Caption {
  padding-top: 10px;
  height: 13px;
}

.ShoppingPageFooter_Caption>img {
  height: 100%;
  width: auto;
}

.ShoppingPageFooter_Address {
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  padding-top: 50px;
}