/********************/
.ShoppingFooter{
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
  background-image: url(../Image/footer_bg.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ShoppingFooter_Logo{
  height: 15%;
  width: 100px;
  background: url(../icons/logo_DCBP.png) no-repeat center;
  background-size: 100% 100%;
}



.ShoppingFooter_Caption{
  font-size: 24px;
}

.ShoppingFooter_Address{
  font-size: 16px;
}

/********************/